<div class="container">
  <h1><%= @list.name %></h1>
  <p><%= link_to "add a movie", new_list_bookmark_path(@list)%></p>
     <%= link_to lists_path,
                method: :delete,
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: 'delete-link' do %>
             <i class="fa-duotone fa-trash"></i>
            <% end %>

  <ul>
      <p><% @list.bookmarks.each do |bookmark| %></p>
      <p><%= bookmark.movie.title %></p>
      <p>Rating:<%= bookmark.movie.rating %></p>
      <div class="banner">
        <img src="<%= bookmark.movie.poster_url %>"width="800px">
      </div>
      <p>Overview:<%= bookmark.movie.overview %></p>
      <p>Comment:<%= bookmark.comment %></p>
      <hr>
      <% end %>
      <p><%= link_to "Back to categories", lists_path %></p>

  </ul>
</div>
